/* CSS declarations go here */ 
.fc-day { 
	background-size: 100% 100%;
} 
.fc-other-month,.fc-day-header{  
	background-image: none !important;
}
/*
.fc-day-header { 
	background-image: none !important;   
}
*/
.fc-day[data-date="2013-11-21"] {
	/*border: solid 3px red;*/
} 